@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@mixin en {
  font-family: 'HelveticaNeueLTStd-Ex';
}
@mixin YakuHanJP {
  font-family: YakuHanJP, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', Meiryo, sans-serif;
}

@mixin site {
  font-family: 'HelveticaNeueLTStd-Ex', 'Noto Sans JP', sans-serif;
}
