@import './global.scss';

.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 11;
 .inner {
  padding: 0 15px;
 }
 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .logo {
  margin-top: 15px;
  width: 136px;
 }
 .nav {
  position: relative;
  display: flex;
  flex-flow: column;
 }
 .menu {
  display: flex;
  li {
   position: relative;
   &:not(:first-child) {
    margin-left: 30px;
    &:before {
     content: '';
     position: absolute;
     top: 0;
     left: -18px;
     bottom: 0;
     margin: auto;
     width: 5px;
     height: 5px;
     border-radius: 50%;
     background-color: $clr-red;
    }
   }
   a,
   span {
    display: inline-block;
    font-size: 32px;
    @include en;
    color: $clr-red;
    .mark {
     position: absolute;
     top: 0;
     right: 3px;
     display: flex;
     align-items: flex-start;
     width: 10px;
     height: 10px;
     svg {
      fill: $clr-red;

      path {
       fill: $clr-red;
      }
     }
    }
    .count {
     font-size: 10px;
     @include en;
    }
   }
   span {
    cursor: pointer;
   }
  }
 }
 .time {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: $clr-red;
  font-size: 13px;
  @include en;
 }
 .layout {
  position: relative;
  display: block;
  .snsList {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   margin: auto;
   text-align: right;
   justify-content: flex-end;
   margin-right: 10px;
   li {
    a {
     color: $clr-red;
     font-size: 13px;
     @include en;
    }
   }
  }
 }
 .layoutNav {
  display: flex;
  .layoutNavList {
   display: flex;
   margin-right: 10px;

   li {
    &:not(:last-child) {
     margin-right: 7px;
    }
    button {
     position: relative;
     font-size: 0;
     &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -2px;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 47px;
      height: 22px;
     }
    }
   }
  }
  .layoutNavPaa {
   cursor: pointer;
  }
  .PaaMessage {
   position: absolute;
   right: 0;
   bottom: -40px;
   padding: 12px 8px 8px;
   border-radius: 6px;
   background-color: rgba(#888, 0.5);
   backdrop-filter: blur(10px);
   color: $clr-wht;
   font-size: 12px;
   line-height: 1;
   opacity: 0;
   transition: opacity 0.3s;
   z-index: 2;
  }
 }
}
.spNav {
 display: none;
}
@media #{$tablet} {
 .header {
  top: vw(20);
  .inner {
   padding: 0;
  }
  .content {
   align-items: center;
   justify-content: center;
  }
  .logo {
   margin: 0 auto;
   width: vw(121);
  }
  .nav {
   display: none;
  }

  .layout {
   display: none;
  }
 }
 .spNav {
  position: fixed;
  left: vw(10);
  bottom: vw(50);
  display: block;
  z-index: 100;
  .nav {
   .menu {
    li {
     a,
     span {
      position: relative;
      display: inline-block;
      font-size: vw(36);
      @include en;
      line-height: 1.15;
      color: $clr-red;
      .mark {
       position: absolute;
       top: 0;
       right: 3px;
       display: flex;
       align-items: flex-start;
       width: vw(9);
       height: vw(9);
       svg {
        fill: $clr-red;

        path {
         fill: $clr-red;
        }
       }
      }
      .count {
       font-size: vw(10);
       @include en;
      }
     }
     span {
      cursor: pointer;
     }
    }
   }
  }
  .time {
   margin-top: vw(5);
   color: $clr-red;
   font-size: vw(12);
   @include en;
  }
 }
}
