@import './global.scss';

.page {
 height: inherit;
 .pageCont {
  display: flex;
  height: inherit;
  .pageContLeft {
   width: 50%;
   height: inherit;
  }
  .pageContRight {
   width: 50%;
   height: inherit;
  }
  .pageThumb {
  }
 }
}
@media #{$tablet} {
 .page {
  height: inherit;
  .pageCont {
   display: block;
   .pageContLeft {
    width: 100%;
    height: auto;
   }
   .pageContRight {
    width: 100%;
    height: auto;
   }
   .pageThumb {
   }
  }
 }
}
