@import './global.scss';

.page {
 height: inherit;
 .pageCont {
  display: flex;
  height: inherit;
  .pageContLeft {
   width: 50%;
   height: inherit;
  }
  .pageContRight {
   width: 50%;
   height: inherit;
  }
  .pageContBox {
   height: inherit;
   padding: 15px 10px;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
  }
  .pageThumb {
  }
 }
}
@media #{$tablet} {
 .page {
  height: inherit;
  .pageCont {
   display: block;
   .pageContLeft {
    width: 100%;
    height: auto;
   }
   .pageContRight {
    width: 100%;
    height: auto;
   }
   .pageContBox {
    height: inherit;
    padding: vw(15) vw(10);
   }
   .pageThumb {
   }
  }
 }
}
