@import './global.scss';

.page {
 .pageCont {
  display: flex;
  height: inherit;
  .pageContLeft {
   width: 50%;
   height: inherit;
  }
  .pageContRight {
   width: 50%;
   height: inherit;
  }
  .pageThumb {
  }
 }
}
