@import './global.scss';

.post {
 .postCont {
  display: flex;
  .postContLeft {
   width: 50%;
  }
  .postContRight {
   width: 50%;
  }
  .mediaList {
   li {
    .photo {
     img {
     }
    }
    .video {
     position: relative;
     width: 100%;
     height: auto;
     aspect-ratio: 16 / 9;
     iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     }
    }
   }
  }
  .header {
   border-bottom: 1px solid $clr-main;
   .TtlCont {
    padding: 20px 10px 0;
   }
   .ttlja {
    font-size: 60px;
   }
   .subttlja {
    font-size: 60px;
   }
   .meta {
    padding: 15px 10px;
    .metaBox {
     display: flex;
     justify-content: space-between;

     .metaBoxRight {
      text-align: right;
     }
    }
    .categoryList {
     display: flex;
     margin-bottom: 3px;
     li {
      font-size: 11px;
      &:not(:last-child) {
       margin-right: 5px;
      }
     }
    }
    .tagList {
     display: flex;
     margin-bottom: 3px;

     li {
      position: relative;
      font-size: 11px;

      &:not(:last-child) {
       margin-right: 10px;
       &::before {
        content: ',';
        position: absolute;
        right: -5px;
        bottom: 0;
        font-size: 11px;
       }
      }
     }
    }
    .date {
     font-size: 11px;
    }
    .power {
     margin-bottom: 3px;
     font-size: 11px;
    }
    .count {
     margin-bottom: 3px;
     font-size: 11px;
    }
    .star {
     .icon-star {
      svg {
       path {
        fill: $clr-main;
       }
      }
     }
    }
   }
  }
  .textarea {
   padding: 20px 10px;
   h2 {
    font-size: 28px;
    margin-bottom: 20px;
   }
   p {
    font-size: 18px;
   }
  }
  .footer {
   .credit {
    border-top: 1px solid $clr-main;
    padding: 15px 10px;
   }
   .url {
    border-top: 1px solid $clr-main;
    border-bottom: 1px solid $clr-main;

    a {
     position: relative;
     display: flex;
     justify-content: space-between;
     padding: 15px 10px 20px;
     text-decoration: underline;
     &:hover {
      text-decoration: none;
     }
    }
   }
  }
 }
}
