.swiper-container {
 overflow: hidden;

 .swiper {
  overflow: visible;

  .swiper-wrapper {
   transition-timing-function: linear !important;

   .swiper-slide {
    //width: -webkit-max-content;
    //width: -moz-max-content;
    //width: max-content;
    width: 200px;
   }
  }
 }
}
