@import './components/global.scss';

html {
 font-size: 100%;
 -webkit-font-smoothing: antialiased;
 font-smoothing: antialiased;
 -webkit-tap-highlight-color: transparent;
}

body {
 background: $clr-wht;
 -webkit-text-size-adjust: 100%;
 background: transparent;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
 color: $clr-main;
 font-size: 1rem;
 line-height: 1;
 letter-spacing: 0.001rem;
 font-weight: 400;
 @include site;
}

::selection {
 color: $clr-wht;
 background: $clr-red;
}

::-moz-selection {
 color: $clr-wht;
 background-color: $clr-red;
}

input::selection,
textarea::selection {
 color: $clr-wht;
 background: $clr-red;
}

*,
*:after,
*:before {
 box-sizing: border-box;

 &:focus,
 &:focus-visible {
  outline: none;
 }
}

img {
 height: auto;
 max-width: 100%;
 vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 padding: 0;
 font-weight: 400;
 font-size: inherit;
}

p {
 margin: 0;
 padding: 0;
}

figure {
 margin: 0;
}

ol,
ul {
 list-style-type: none;
}

dd,
dl,
dt,
li,
p,
ul {
 margin: 0;
 padding: 0;
}

i {
 font-style: normal;
}

main {
 position: relative;
 display: block;
 -webkit-overflow-scrolling: touch;
}
//Links

a,
a:visited {
 color: $clr-main;
 text-decoration: none;
}

a:hover {
 color: $clr-main;
 text-decoration: none;
}

a:active,
a:focus {
 text-decoration: none;
}

a:focus {
 outline: none;
}

a:active,
a:hover {
 outline: 0;
}
iframe {
 border: none;
}

.box {
 margin: 500px auto;
 background-color: $clr-main;
 width: 300px;
 height: 300px;
 border-radius: 50%;
 text-align: center;
 color: $clr-wht;
 @include en;
 font-size: 26px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.rfm-marquee-container {
 overflow: hidden;
}
button {
 background-color: transparent;
 border: none;
 outline: none;
 padding: 0;
 appearance: none;
 cursor: pointer;
}
.selected {
 &::before {
  border: 1px solid $clr-red;
 }
}
.visible {
 visibility: visible !important;
 opacity: 1 !important;
}

.media-wrap {
 position: relative;

 .media-pixel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
 }
 .media-origital {
  position: relative;
 }
}

.modal {
 position: fixed;
 top: vwpc(20);
 left: vwpc(20);
 right: vwpc(20);
 display: flex;
 margin: auto;
 width: calc(100% - vwpc(40));
 height: calc(100% - vwpc(40));
 background-color: $clr-wht;
 border: 1px solid $clr-blk;
 overflow: hidden;
 z-index: 101;
 .modal-inner {
  position: relative;
  display: flex;
  width: 100%;

  .modal-close {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 28px;
   border-bottom: 1px solid $clr-blk;
   svg {
    path {
    }
   }
  }
  .modal-cont {
   width: calc(100% - vwpc(24));
   height: calc(100% - vwpc(120));
  }
 }
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
 display: none;
}
.scrollbar {
 overflow: scroll;
}
.sns-list {
 display: flex;
 align-items: center;
 justify-content: center;
 li {
  &:not(:last-child) {
   margin-right: 10px;
  }
  a {
   font-size: 13px;
  }
 }
}

@media #{$tablet} {
 .modal {
  position: fixed;
  top: vwpc(20);
  left: vwpc(20);
  right: vwpc(20);
  display: flex;
  margin: auto;
  width: calc(100% - vwpc(40));
  height: calc(100% - vwpc(40));
  background-color: $clr-wht;
  border: 1px solid $clr-blk;
  overflow: hidden;
  z-index: 101;
  .modal-inner {
   position: relative;
   display: flex;
   width: 100%;

   .modal-close {
    position: absolute;
    top: vw(2);
    right: vw(2);
    width: vw(21);
    height: vw(21);
    border-bottom: none;
    overflow: hidden;
    &::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: vw(20);
     height: vw(20);
     background-color: $clr-wht;
     z-index: 0;
    }
    svg {
     position: relative;
     width: vw(21);
     height: vw(21);
     z-index: 1;

     rect {
     }
    }
   }
   .modal-cont {
    width: calc(100% - vwpc(24));
    height: calc(100% - vwpc(120));
   }
  }
 }
}
